.DS_Store
node_modules

ios-dev/JabeJa/JabeJa.xcodeproj/project.xcworkspace/xcuserdata/yektaie.xcuserdatad/UserInterfaceState.xcuserstate

ios-dev/JabeJa/JabeJa.xcodeproj/xcuserdata/yektaie.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ios-dev/JabeJa/JabeJa.xcodeproj/xcuserdata/yektaie.xcuserdatad/xcschemes/JabeJa.xcscheme

ios-dev/JabeJa/JabeJa.xcodeproj/xcuserdata/yektaie.xcuserdatad/xcschemes/xcschememanagement.plist

ios-dev/JabeJa/Podfile.lock
ios-dev/JabeJa/Pods/

ios-dev/JabeJa/JabeJa.xcworkspace/xcuserdata/yektaie.xcuserdatad/UserInterfaceState.xcuserstate

ios-dev/JabeJa/JabeJa.xcworkspace/xcuserdata/yektaie.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
